h1{
  font-family: 'Roboto', sans-serif;
}

#changingText {
  color: #8750f7;
  border-right: 1px solid black;
  animation: cursoranim 1s linear infinite;
}

@keyframes cursoranim {
  50% {
    border-right: 1px solid rgba(0, 0, 0, 0);
  }
}
